Скачайте данные отсюда: https://www.kaggle.com/rounakbanik/the-movies-dataset 
Это информация по фильмам, довольно тяжелая, около гигабайта весит.

Ответьте на следующие вопрпосы:

1) Какой самый дорогой и самый дешевый фильмы (в плане бюджета)?

2) Найдите топ 100 самых лучших и самых худших фильмов (согласно среднему рейтингу, который прийдется посчитать)

3) Интересно найти фильмы, который просто ужасны (очень низкий рейтинг), но тем не менее популярны (там есть колонка popularity). Скажем так, фильм очень плохой, но он популярнее чем очень хорошие. Я строго не формализую этот пункт, придумайте сами как это сделать, есть разные варианты. Я знаю пример такого фильма, мне интересно, удастся ли его найти в этом датасете)

4) Какие самые дорогие, а какие самые дешевые жанры в плане производства? Тот же вопрос про популярность

In [49]:
import pandas as pd
import os
from datetime import datetime
from matplotlib import pyplot as plt
import json

%matplotlib inline

In [132]:
movies_metadata = pd.read_csv('movies_metadata.csv')

1) Какой самый дорогой и самый дешевый фильмы (в плане бюджета)?

In [133]:
movies_metadata = movies_metadata [['title','budget']] # Выберем их массива столбцы с названием фильма и его бюджетом

In [134]:
movies_metadata_title = movies_metadata [['title']]

In [135]:
movies_metadata = movies_metadata [movies_metadata['budget'].apply(lambda x: x.isdigit())]
movies_metadata ['budget'] = movies_metadata ['budget'].apply(int)

In [136]:
movies_metadata

                             title    budget
0                        Toy Story  30000000
1                          Jumanji  65000000
2                 Grumpier Old Men         0
3                Waiting to Exhale  16000000
4      Father of the Bride Part II         0
...                            ...       ...
45461                       Subdue         0
45462          Century of Birthing         0
45463                     Betrayal         0
45464             Satan Triumphant         0
45465                     Queerama         0

[45463 rows x 2 columns]

In [137]:
movies_budget_TOP = movies_metadata.sort_values(by = ('budget'), ascending = False)[0:5] #  ТОП-5  по бюджету

In [139]:
movies_budget_TOP #  Самыq большой бюджет у фильма 	Pirates of the Caribbean: On Stranger Tides

                                             title     budget
17124  Pirates of the Caribbean: On Stranger Tides  380000000
11827     Pirates of the Caribbean: At World's End  300000000
26558                      Avengers: Age of Ultron  280000000
11067                             Superman Returns  270000000
16130                                      Tangled  260000000

In [138]:
print("Фильмы с самым большим бюджетом", movies_budget_TOP)

Фильмы с самым большим бюджетом                                              title     budget
17124  Pirates of the Caribbean: On Stranger Tides  380000000
11827     Pirates of the Caribbean: At World's End  300000000
26558                      Avengers: Age of Ultron  280000000
11067                             Superman Returns  270000000
16130                                      Tangled  260000000

In [143]:
movies_metadata_without_nul = movies_metadata[movies_metadata ['budget'] != 0]

In [152]:
movies_metadata_without_nul = movies_metadata_without_nul.sort_values(by = ('budget')) #  ТОП-5  по минимальному бюджету

In [153]:
movies_metadata_without_nul

               title  budget
31435   Victoria Day       1
21319  Fetching Cody       1
27958    Fear Clinic       1
2483    Lost & Found       1
25093    She Monkeys       1

2) Найдите топ 100 самых лучших и самых худших фильмов (согласно среднему рейтингу, который прийдется посчитать)

In [ ]:
rating_table = pd.read_csv('ratings.csv')
rating_table.columns

In [ ]:
rating_tabl()