In [170]:
#Скачайте данные отсюда: https://www.kaggle.com/rounakbanik/the-movies-dataset Это информация по фильмам, довольно тяжелая, около гигабайта весит.

#Ответьте на следующие вопросы:

#1) Какой самый дорогой и самый дешевый фильмы (в плане бюджета)?
#2) Найдите топ 100 самых лучших и самых худших фильмов (согласно среднему рейтингу, который прийдется посчитать)
#3) Интересно найти фильмы, который просто ужасны (очень низкий рейтинг), но тем не менее популярны (там есть колонка popularity). Скажем так, фильм очень плохой, но он популярнее чем очень хорошие. Я строго не формализую этот пункт, придумайте сами как это сделать, есть разные варианты. Я знаю пример такого фильма, мне интересно, удастся ли его найти в этом датасете)

In [99]:
import pandas as pd
import os
from datetime import datetime
from matplotlib import pyplot as plt
import json

%matplotlib inline

In [100]:
#1) Какой самый дорогой и самый дешевый фильмы (в плане бюджета)?

In [101]:
movies = pd.read_csv('movies_metadata.csv')

In [102]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [103]:
#1) Какой самый дорогой и самый дешевый фильмы (в плане бюджета)?

In [104]:
movies = movies[movies['budget'].apply(lambda x: x.isdigit())]
#movies['budget'] = movies['budget'].apply(float) -- это так, тестили :-)
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [105]:
movies.shape

(45463, 24)

In [106]:
movies['budget'] = movies['budget'].astype("float")

In [107]:
movies.dtypes

adult                     object
belongs_to_collection     object
budget                   float64
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [108]:
MoviesStats = movies['budget'].describe()

In [109]:
MoviesStats

count    4.546300e+04
mean     4.224579e+06
std      1.742413e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.800000e+08
Name: budget, dtype: float64

In [110]:
MaxMovieBudget = movies['budget'].max() 
MaxMovieBudget

380000000.0

In [111]:
#выше нашли самый большой бюджет фильма
#Название самого дорогого фильма

In [112]:
MaxBudgetMovies = movies[movies['budget']>=MaxMovieBudget]
MaxBudgetMovies = MaxBudgetMovies[['budget','original_title']]

In [113]:
MaxBudgetMovies

            budget                               original_title
17124  380000000.0  Pirates of the Caribbean: On Stranger Tides

In [114]:
MinBudgetMovies = movies[movies['budget'] >= 1]
MinMovieBudget = MinBudgetMovies['budget'].min()

In [115]:
MinMovieBudget

1.0

In [116]:
MinBudgetMovies = movies[movies['budget'] >= MinMovieBudget] # строим срез по ненулевым бюджетам
MinBudgetMovies = MinBudgetMovies[['budget','original_title']]

In [117]:
MinBudgetMovies = MinBudgetMovies.sort_values(by = 'budget', ascending=True)

In [118]:
MinBudgetMovies.head(100) # выводим первые 100 строк и видим, что в датасете имеются странные данные по бюджету для некоторых фильмов.

       budget                 original_title
31435     1.0                   Victoria Day
21319     1.0                  Fetching Cody
27958     1.0                    Fear Clinic
2483      1.0                   Lost & Found
25093     1.0                    Apflickorna
...       ...                            ...
23956    15.0                 Make Your Move
26010    15.0                        Peeples
28176    17.0            Absence of the Good
28007    17.0  Ce que le jour doit à la nuit
38001    18.0              Enchanted Kingdom

[100 rows x 2 columns]

In [119]:
#2) Найдите топ 100 самых лучших и самых худших фильмов (согласно среднему рейтингу, который прийдется посчитать)

In [120]:
movies = pd.read_csv('movies_metadata.csv') # переопределяю для лёгкости отладки и минимизации вероятности ошибок

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [139]:
movies = movies[['original_title','vote_average']]

In [140]:
BestScoreMovies = movies.sort_values(by = 'vote_average', ascending=False)

In [141]:
BestScoreMovies.head(100) # в датасете множество фильмов со средней оценкой = 10, что настораживает.

                                        original_title  vote_average
21642  Ice Age Columbus: Who Were the First Americans?          10.0
15710        If God Is Willing and da Creek Don't Rise          10.0
22396                                   Meat the Truth          10.0
22395            Marvin Hamlisch: What He Did For Love          10.0
35343                       Elaine Stritch: At Liberty          10.0
...                                                ...           ...
4046                                       Simon Magus          10.0
27817                                    Heavy Weather          10.0
41597                           Flykten till framtiden          10.0
44866                           Lad: A Yorkshire Story          10.0
8926            Common Threads: Stories from the Quilt          10.0

[100 rows x 2 columns]

In [142]:
WorstScoreMovies = movies.sort_values(by = 'vote_average', ascending=True)

In [143]:
WorstScoreMovies = WorstScoreMovies[WorstScoreMovies['vote_average'] > 0]

In [144]:
WorstScoreMovies.head (100) # Судя по тайтлам, с задачей вывода 100 худших фильмов мы справились. Странно, что нет фильмов с рейтингом 0,1, сразу с 0,5

                          original_title  vote_average
23733          Unrated II: Scary as Hell           0.5
25647  Anche gli angeli tirano di destro           0.5
29285                Under the Boardwalk           0.5
35121        Mrs. Lambert Remembers Love           0.5
25777                Chasing Shakespeare           0.5
...                                  ...           ...
41721                 Breaking a Monster           1.0
17135                Diary of a Cannibal           1.0
36647                            Пейза́ж           1.0
15727           No One Dies in Lily Dale           1.0
24915                    The Male Animal           1.0

[100 rows x 2 columns]

In [166]:
#3) Интересно найти фильмы, который просто ужасны (очень низкий рейтинг), но тем не менее популярны (там есть колонка popularity). Скажем так, фильм очень плохой, но он популярнее чем очень хорошие. Я строго не формализую этот пункт, придумайте сами как это сделать, есть разные варианты. Я знаю пример такого фильма, мне интересно, удастся ли его найти в этом датасете)
movies = pd.read_csv('movies_metadata.csv') # переопределяю для лёгкости отладки и минимизации вероятности ошибок

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [167]:
movies['popularity'] = pd.to_numeric(movies['popularity'],errors = 'coerce') # приведём object к float
movies['popularity'] # проверим

0        21.946943
1        17.015539
2        11.712900
3         3.859495
4         8.387519
           ...
45461     0.072051
45462     0.178241
45463     0.903007
45464     0.003503
45465     0.163015
Name: popularity, Length: 45466, dtype: float64

In [168]:
TrashMoviesTop = movies[['original_title','vote_average','popularity']]
TrashMoviesTop = TrashMoviesTop.sort_values(['vote_average', 'popularity'], ascending=[True, False])

In [169]:
TrashMoviesTop.head(100) # Результаты, конечно, странные. Вероятно, связано с тем, что в датасете, всё-таки "кривые" данны по средним оценкам.

                               original_title  vote_average  popularity
26565                          Thor: Ragnarok           0.0   57.283628
26561                          Justice League           0.0   25.944629
43393                          Beyond Skyline           0.0    6.416249
26559                                Avatar 2           0.0    6.020055
42269                    Call Me by Your Name           0.0    4.300874
...                                       ...           ...         ...
39310                           The Plainsman           0.0    0.881416
32461                                  Tracks           0.0    0.877393
28315  Le deportate della sezione speciale SS           0.0    0.876006
29719                           Billy the Kid           0.0    0.875418
1564                            Indian Summer           0.0    0.873828

[100 rows x 3 columns]