In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

%matplotlib inline

# 1) Какой самый дорогой и самый дешевый фильмы (в плане бюджета)?

In [5]:
movies_metadata=pd.read_csv('../../../lessons/24-11-2021/homework/data/movies_metadata.csv')

In [6]:
movies_metadata=movies_metadata[movies_metadata['budget'].apply(lambda x: x.isdigit())]
movies_metadata['budget']=movies_metadata['budget'].apply(int)
movies_metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [7]:
movies_metadata.shape

(45463, 24)

In [8]:
movies_metadata['popularity'] = movies_metadata['popularity'].astype("float")

In [9]:
movies_metadata.dtypes  #свершилось чудо, но при этом прочтении получила бюдэет int< теперь чудом пытаюсь управлять

adult                     object
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [10]:
a=movies_metadata['popularity'].describe()
a

count    45460.000000
mean         2.921478
std          6.005414
min          0.000000
25%          0.385948
50%          1.127685
75%          3.678902
max        547.488298
Name: popularity, dtype: float64

In [11]:
a.to_excel("float_!!!.xlsx")

In [12]:
movies_metadata['budget'].describe()

count    4.546300e+04
mean     4.224579e+06
std      1.742413e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.800000e+08
Name: budget, dtype: float64

Получаем, что у половины фильмов бюджет меньше нуля

In [13]:
a=movies_metadata['budget'].max() #нашла максимальный бюджет
a

380000000

In [14]:

movies_metadata_max=movies_metadata[movies_metadata['budget']==a]
movies_metadata_max=movies_metadata_max[['budget','original_title']]
movies_metadata_max                                                   #фильм с максимальным бюджетом

          budget                               original_title
17124  380000000  Pirates of the Caribbean: On Stranger Tides

In [160]:
movies_metadata_max.to_excel("movies_metadata_max.xlsx")

# отберу фильмы не с нулевым бюджетом

In [15]:
movies_metadata_1=movies_metadata.loc[movies_metadata['budget']!=0]

In [17]:
movies_metadata_1.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [19]:
a=min(movies_metadata_1['budget'])
a

1

In [20]:
movies_metadata_2=movies_metadata_1[movies_metadata_1['budget']==a]

In [24]:
movies_metadata_2

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
922,False,NaN,1,"[{'id': 18, 'name': 'Drama'}]",NaN,220,tt0048028,en,East of Eden,"In the Salinas Valley, in and around World War...",...,1955-03-09,5.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Of what a girl did . . . what a boy did ... of...,East of Eden,False,7.5,163.0
2192,False,NaN,1,"[{'id': 18, 'name': 'Drama'}]",NaN,37532,tt0139615,en,Slam,"Slam tells the story of Ray Joshua, an origina...",...,1998-10-07,0.0,100.0,[],Released,Words make sense of a world that won't.,Slam,False,6.7,7.0
2483,False,NaN,1,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,39964,tt0120836,en,Lost & Found,A comedy about finding your true love at any p...,...,1999-04-23,100.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A comedy about a guy who would do anything to ...,Lost & Found,False,4.9,26.0
3342,False,NaN,1,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,3082,tt0027977,en,Modern Times,The Tramp struggles to live in modern industri...,...,1936-02-05,8500000.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He stands alone as the greatest entertainer of...,Modern Times,False,8.1,881.0
4000,False,NaN,1,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,13703,tt0093407,en,Less Than Zero,A college freshman returns to Los Angeles for ...,...,1987-11-06,12396383.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In Beverly Hills, you can have anything your h...",Less Than Zero,False,6.1,77.0
9831,False,NaN,1,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,48463,tt0374639,en,Incident at Loch Ness,The German film director Werner Herzog sets ou...,...,2004-12-17,0.0,94.0,[],Released,NaN,Incident at Loch Ness,False,5.8,18.0
13025,False,NaN,1,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.angusthongsmovie.com/intl/uk/,12689,tt0963743,en,"Angus, Thongs and Perfect Snogging","Georgia Nicolson is fourteen, lives with nosey...",...,2008-07-25,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"Georgia Nicholson is not mental, but her life is.","Angus, Thongs and Perfect Snogging",False,6.4,231.0
15437,False,NaN,1,"[{'id': 27, 'name': 'Horror'}]",NaN,140172,tt0780495,en,Cool Air,"Charlie Baxter, a struggling screenwriter, is ...",...,2006-11-03,0.0,88.0,[],Released,DEATH COMES COLDLY,Cool Air,False,3.8,6.0
15873,False,NaN,1,"[{'id': 10749, 'name': 'Romance'}, {'id': 53, ...",NaN,56969,tt0374271,hi,Tere Naam,"Lower Caste Radhey Mohan is a no good slacker,...",...,2003-08-15,2.0,132.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Unfortunately a true love story,Tere Naam,False,6.4,18.0
16608,False,NaN,1,"[{'id': 99, 'name': 'Documentary'}]",http://www.speedandangels.com/,56745,tt1112756,en,Speed & Angels,Inspired by the passion of two young Navy offi...,...,2008-02-01,0.0,95.0,[],Released,Behind Every Fighter Pilot Is A Dream,Speed & Angels,False,3.3,3.0
19258,False,NaN,1,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.ifcfilms.com/films/love-wedding-mar...,59296,tt1436559,en,"Love, Wedding, Marriage",A happy newlywed marriage counselor's views on...,...,2011-06-03,1378.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Here comes the ride.,"Love, Wedding, Marriage",False,5.1,73.0
19907,False,NaN,1,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,220106,tt0792984,fr,On ne devrait pas exister,Herve is a star in the porn industry. Exhauste...,...,2006-05-23,0.0,0.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,We Should Not Exist,False,6.8,2.0
21319,False,NaN,1,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,46729,tt0475271,en,Fetching Cody,"Art, a drug-addicted dealer and hustler, arriv...",...,2005-10-01,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,How far would you go for love?,Fetching Cody,False,6.8,6.0
22278,False,NaN,1,"[{'id': 35, 'name': 'Comedy'}]",http://aquientrenoslapelicula.com,114903,tt1695765,en,Aquí Entre Nos,"Rodolfo Guerra, father of three daughters, wak...",...,2012-03-30,2755584.0,73.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,Some marriages end well... others last a whole...,Aquí Entre Nos,False,6.0,3.0
25093,False,NaN,1,"[{'id': 18, 'name': 'Drama'}]",http://www.atmo.se/film-and-tv/shemonkeys/,78646,tt1827358,sv,Apflickorna,"When Emma meets Cassandra, they initiate a rel...",...,2011-01-31,0.0,84.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,She Monkeys,False,4.7,12.0
27958,False,NaN,1,"[{'id': 27, 'name': 'Horror'}]",http://www.fearclinicmovie.com/,287524,tt2165765,en,Fear Clinic,A doctor works to cure patients suffering from...,...,2014-10-31,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Fear Clinic,False,4.0,42.0
31435,False,NaN,1,"[{'id': 18, 'name': 'Drama'}]",NaN,188529,tt1331126,en,Victoria Day,"Over the course of one week in 1988, the searc...",...,2009-01-17,0.0,88.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso...",Released,Life Changes In A Flash.,Victoria Day,False,0.0,0.0
33960,False,NaN,1,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,363413,tt4430136,hi,Pyaar Ka Punchnama 2,"After falling in love, three roommates experie...",...,2015-10-16,0.0,159.0,[],Released,NaN,Pyaar Ka Punchnama 2,False,7.7,14.0
35086,False,NaN,1,"[{'id': 18, 'name': 'Drama'}]",http://thelettersmovie.com/,218275,tt1445208,en,The Letters,"MOTHER TERESA, recipient of the Nobel Peace Pr...",...,2015-12-04,1.0,114.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Letters,False,5.6,10.0
35579,False,NaN,1,"[{'id': 9648, 'name': 'Mystery'}, {'id': 10751...",http://www.salaselts.ee/,339944,tt3949936,et,Supilinna salaselts,"""Secret Society of Souptown"" is an adventurous...",...,2015-05-15,0.0,105.0,"[{'iso_639_1': 'et', 'name': 'Eesti'}]",Released,NaN,Secret Society of Souptown,False,6.8,8.0
38177,False,NaN,1,"[{'id': 27, 'name': 'Horror'}]",NaN,35759,tt1488584,en,My Super Psycho Sweet 16,A spoiled teens birthday bash turns killer aft...,...,2009-10-23,0.0,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A party to die for,My Super Psycho Sweet 16,False,6.2,14.0
38526,False,NaN,1,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,49029,tt0376144,ta,Saamy,Saamy movie is all about Arusaamy (Vikram) who...,...,2003-05-05,3.0,140.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Saamy,False,5.8,5.0
40984,False,NaN,1,"[{'id': 53, 'name': 'Thriller'}]",NaN,267931,tt2320388,en,Hidden in the Woods,Hidden in the Woods tells the story of two sis...,...,2014-12-12,0.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Hide Your Daughters,Hidden in the Woods,False,5.1,9.0
41784,False,NaN,1,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,51281,tt1701992,ru,Гадкий утёнок,Adapted from the Andersen tale and played out ...,...,2010-09-16,0.0,75.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,The Ugly Duckling,False,6.5,2.0
43573,False,NaN,1,"[{'id': 53, 'name': 'Thriller'}]",http://www.badgirlmovie.com/,405050,tt3598108,en,Bad Girl,"Bad girl Amy, 17, is given one last chance by ...",...,2016-08-11,0.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Bad Girl,False,8.0,1.0

In [ ]:
movies_metadata_min.to_excel("movies_metadata_min.xlsx")

In [ ]:
a=min(movies_metadata_1['budget'])
movies_metadata_1=movies_metadata_1[movies_metadata_1['budget']==a]
movies_metadata_min=movies_metadata_1[['budget','original_title']]
movies_metadata_min

# 2) Найдите топ 100 самых лучших и самых худших фильмов (согласно среднему рейтингу, который прийдется посчитать)

In [25]:
ratings=pd.read_csv('../../../lessons/24-11-2021/homework/data/ratings.csv')
ratings.nunique()

userId         270896
movieId         45115
rating             10
timestamp    20549435
dtype: int64

In [26]:
ratings=ratings.rename(columns={'movieId':'id'})
ratings.dtypes

userId         int64
id             int64
rating       float64
timestamp      int64
dtype: object

In [28]:
movies_metadata=movies_metadata[movies_metadata['id'].apply(lambda x: x.isdigit())]
movies_metadata['id']=movies_metadata['id'].apply(int)
movies_metadata.columns

AttributeError: 'int' object has no attribute 'isdigit'

In [30]:
all_merged=ratings.merge(movies_metadata,on=["id"])
all_merged

,userId,id,rating,timestamp,adult,belongs_to_collection,budget,genres,homepage,imdb_id,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,1,110,1.0,1425941529,False,"{'id': 131, 'name': 'Three Colors Collection',...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,tt0111495,...,1994-05-27,0.0,99.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Three Colors: Red,False,7.8,246.0
1,11,110,3.5,1231676989,False,"{'id': 131, 'name': 'Three Colors Collection',...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,tt0111495,...,1994-05-27,0.0,99.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Three Colors: Red,False,7.8,246.0
2,22,110,5.0,1111937009,False,"{'id': 131, 'name': 'Three Colors Collection',...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,tt0111495,...,1994-05-27,0.0,99.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Three Colors: Red,False,7.8,246.0
3,24,110,5.0,979870012,False,"{'id': 131, 'name': 'Three Colors Collection',...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,tt0111495,...,1994-05-27,0.0,99.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Three Colors: Red,False,7.8,246.0
4,29,110,3.0,1044020005,False,"{'id': 131, 'name': 'Three Colors Collection',...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,tt0111495,...,1994-05-27,0.0,99.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Three Colors: Red,False,7.8,246.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11437632,270123,140222,3.0,1440920139,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt1976989,...,2013-03-22,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Love and Honor,False,5.8,135.0
11437633,270123,151509,3.0,1453527817,False,NaN,750000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,tt2526856,...,2012-11-23,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Trapped in the Closet: Chapters 23-33,False,6.5,4.0
11437634,270123,159109,1.5,1465361347,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt2381355,...,2013-01-21,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A journey into darkness,The Rambler,False,6.0,14.0
11437635,270694,165159,4.0,1476635117,False,NaN,0,[],NaN,tt0077130,...,1979-12-21,0.0,NaN,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Agenzia Riccardo Finzi... praticamente detective,False,5.5,2.0
11437636,270887,136928,3.0,1463422216,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://firstwintermovie.com/,tt2294619,...,2012-10-11,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No Escape,First Winter,False,4.0,1.0

In [31]:
all_merged.nunique()

userId                    265917
id                          7565
rating                        10
timestamp                9274995
adult                          2
belongs_to_collection        603
budget                       448
genres                      1387
homepage                    1292
imdb_id                     7563
original_language             56
original_title              7462
overview                    7396
popularity                  7466
poster_path                 7543
production_companies        4642
production_countries         696
release_date                5585
revenue                     1864
runtime                      236
spoken_languages             665
status                         4
tagline                     3882
title                       7409
video                          2
vote_average                  84
vote_count                  1131
dtype: int64

In [36]:
all_merged['rating'].shape, all_merged['rating'].dropna().shape

((11437637,), (11437637,))

In [40]:
ratings_group=all_merged.groupby('id').agg({'rating':['mean', 'count']})

ratings_group

          rating
            mean  count
id
2       3.236953  26060
3       3.175550  15497
5       3.079565  15258
6       3.841764  27895
11      3.660591  19475
...          ...    ...
176077  3.500000      1
176085  3.000000      2
176143  3.500000      1
176167  3.000000      1
176273  1.000000      1

[7565 rows x 2 columns]

In [41]:
ratings_group.columns = ['mean_ratings', 'count_reviews']

In [42]:
ratings_group

        mean_ratings  count_reviews
id
2           3.236953          26060
3           3.175550          15497
5           3.079565          15258
6           3.841764          27895
11          3.660591          19475
...              ...            ...
176077      3.500000              1
176085      3.000000              2
176143      3.500000              1
176167      3.000000              1
176273      1.000000              1

[7565 rows x 2 columns]

In [43]:
ratings_group = ratings_group[ratings_group['count_reviews'] > 99]

In [44]:
ratings_bad100=ratings_group.sort_values(by='mean_ratings',ascending=True)
ratings_bad100=ratings_bad100.head(100)

ratings_bad100 = ratings_bad100[0:].reset_index()
ratings_bad100

       id  mean_ratings  count_reviews
0    8859      0.880342            234
1    1826      1.203196            438
2   61348      1.271583            556
3    3574      1.300000            150
4    1495      1.417214            761
..    ...           ...            ...
95   1976      2.179908           1523
96   8967      2.184758            433
97   4104      2.186352           1143
98   1986      2.192345           1019
99    397      2.193069            101

[100 rows x 3 columns]

In [47]:
movies_metadata[movies_metadata['id'] == 8859]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
3890,False,NaN,13000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,8859,tt0242423,en,"Dude, Where’s My Car?","Jesse and Chester, two bumbling stoners, wake ...",...,2000-12-15,73180723.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"After a night they can't remember, comes a day...","Dude, Where’s My Car?",False,5.3,523.0

In [49]:
ratings_good100=ratings_group.sort_values(by='mean_ratings',ascending=False)
ratings_good100=ratings_good100.head(100)

ratings_good100 = ratings_good100[0:].reset_index()
ratings_good100

      id  mean_ratings  count_reviews
0    318      4.429015          91082
1    858      4.339811          57070
2    527      4.266531          67662
3   2019      4.255074          13994
4   2959      4.230716          60024
..   ...           ...            ...
95  1244      4.029441           9986
96   899      4.027585          12416
97   955      4.026267           4892
98   909      4.024031           6138
99   232      4.022801           6513

[100 rows x 3 columns]

In [50]:
movies_metadata_title=movies_metadata[['id','original_title','popularity']]  
movies_metadata_title.dtypes

id                  int64
original_title     object
popularity        float64
dtype: object

In [52]:
ratings_good100_title=ratings_good100.merge(movies_metadata_title,on=["id"])
ratings_good100_title

      id  mean_ratings  count_reviews            original_title  popularity
0    318      4.429015          91082  The Million Dollar Hotel    4.938231
1    858      4.339811          57070      Sleepless in Seattle   10.234919
2    527      4.266531          67662        Once Were Warriors    4.025276
3   2019      4.255074          13994               Hard Target    7.834351
4   2959      4.230716          60024            License to Wed    7.102076
..   ...           ...            ...                       ...         ...
95  1244      4.029441           9986           Das wilde Leben    0.851733
96   899      4.027585          12416           Broken Blossoms    3.185824
97   955      4.026267           4892    Mission: Impossible II   18.971780
98   909      4.024031           6138      Meet Me in St. Louis    7.331511
99   232      4.022801           6513               Rumble Fish    8.205190

[100 rows x 5 columns]

In [ ]:
ratings_good100_title.to_excel("ratings_good100_title.xlsx")

In [53]:
ratings_bad100_title=ratings_bad100.merge(movies_metadata_title,on=["id"])
ratings_bad100_title

       id  mean_ratings  count_reviews         original_title  popularity
0    8859      0.880342            234  Dude, Where’s My Car?   10.890236
1    1826      1.203196            438     Les Poupées Russes    6.361343
2   61348      1.271583            556     The Lost Valentine    3.672708
3    3574      1.300000            150               Doctor X    1.521700
4    1495      1.417214            761      Kingdom of Heaven   16.296471
..    ...           ...            ...                    ...         ...
95   1976      2.179908           1523                Jezebel   11.277226
96   8967      2.184758            433       The Tree of Life   11.204539
97   4104      2.186352           1143           Benny & Joon   10.597116
98   1986      2.192345           1019     Va, vis et deviens    2.749427
99    397      2.193069            101            French Kiss    9.146544

[100 rows x 5 columns]

In [ ]:
ratings_bad100_title.to_excel("ratings_bad100_title.xlsx")

# 3) Интересно найти фильмы, который просто ужасны (очень низкий рейтинг), но тем не менее популярны (там есть колонка popularity). Скажем так, фильм очень плохой, но он популярнее чем очень хорошие. Я строго не формализую этот пункт, придумайте сами как это сделать, есть разные варианты. Я знаю пример такого фильма, мне интересно, удастся ли его найти в этом датасете)

In [59]:
bad_films = ratings_group[ratings_group['mean_ratings'] <= 2].reset_index()

In [62]:
bad_films.merge(movies_metadata_title,on=["id"]).sort_values('popularity', ascending=False)

,id,mean_ratings,count_reviews,original_title,popularity
0,393,1.916160,2469,Kill Bill: Vol. 2,21.533072
4,1495,1.417214,761,Kingdom of Heaven,16.296471
1,810,1.858181,2133,Shrek the Third,14.072479
40,8839,1.803571,112,Casper,12.812539
45,43919,1.620400,951,Hatchet II,12.525758
39,6951,1.964199,1229,Turner & Hooch,12.372038
7,1599,1.674242,594,I Heart Huckabees,11.953055
2,1381,1.992750,4207,The Fountain,11.577121
13,1989,1.554688,192,My Blueberry Nights,11.119593
41,8859,0.880342,234,"Dude, Where’s My Car?",10.890236
19,2655,1.732484,314,What Lies Beneath,9.500497
35,4985,1.902010,199,The Longest Yard,9.460843
3,1389,1.895939,2167,Out of Sight,7.349812
20,2817,1.702365,761,On connaît la chanson,7.272304
43,32627,1.811404,114,The MacKintosh Man,7.051042
25,3573,1.462857,175,Emma,6.593011
10,1826,1.203196,438,Les Poupées Russes,6.361343
42,27793,1.994200,431,The NeverEnding Story III,6.252377
14,1990,1.455882,170,Paranoid Park,6.198003
12,1984,1.970515,1204,1984,6.113449
16,2383,1.876475,2457,L'Ours,4.158572
17,2462,1.759230,623,Hibernatus,3.793346
47,61348,1.271583,556,The Lost Valentine,3.672708
30,4241,1.741185,709,ビジターQ,3.577025
5,1556,1.954113,6200,薔薇の葬列,3.502077
31,4398,1.839416,274,Lissi und der wilde Kaiser,3.387671
24,3043,1.732653,245,Flesh for Frankenstein,3.104212
32,4412,1.942568,148,Les Misérables,2.898182
8,1679,1.911765,204,Gojira no Gyakushū,2.772214
21,2887,1.694444,126,And the Band Played On,2.643288
9,1731,1.876005,871,Helen,1.979240
6,1595,1.794333,1094,Land of Plenty,1.824186
26,3574,1.300000,150,Doctor X,1.521700
18,2516,1.768018,444,Our Mother's House,1.385444
11,1853,1.940120,167,In the Realms of the Unreal,1.334240
23,3041,1.811637,507,En la cama,1.029472
22,2974,1.782991,682,Orlacs Hände,0.979118
44,42721,1.714583,480,けんかえれじい,0.963536
33,4494,1.980000,300,Arrebato,0.791425
51,84312,1.656250,256,Mosquita y Mari,0.789746
29,3962,1.586667,300,Bis zum Ellenbogen,0.672189
27,3593,1.607782,4806,Dr. Cyclops,0.662919
15,1998,1.925634,1143,Holy Lola,0.605332
37,5546,1.980114,176,Dead Weekend,0.549569
38,5648,1.601476,271,The Immoral Mr. Teas,0.504890
34,4652,1.973094,223,Die goldene Gans,0.486657
49,78321,1.892562,121,Canicule,0.485186
36,5248,1.858090,377,Virtual Sexuality,0.451689
50,80350,1.861371,321,Tough and Deadly,0.426887
28,3941,1.957364,129,Blondie Goes Latin,0.411367
46,54274,1.837900,219,座頭市逆手斬り,0.373428
48,63540,1.808594,256,Na More!,0.239680

In [ ]:
ratings['rating'].min()

0.5

In [ ]:
ratings.columns

Index(['userId', 'id', 'rating', 'timestamp'], dtype='object')

In [ ]:
ratings_min=ratings.loc[ratings['rating']==0.5]
ratings_min=ratings_min[['id','rating']]
ratings_min['id'].astype(int)
ratings_min.dtypes

id          int64
rating    float64
dtype: object

In [ ]:
movies_metadata_title.dtypes

id                 int64
original_title    object
popularity        object
dtype: object

In [ ]:
ratings_min.drop_duplicates(subset=['id'],inplace=True)
ratings_min_title=ratings_min.merge(movies_metadata_title,on=["id"])
ratings_min_title   #получила таблицу плохих с названиями

          id  ...  popularity
0       1676  ...    4.010324
1        135  ...    2.676174
2        838  ...    9.188584
3       1831  ...    2.971999
4      37731  ...    0.364376
...      ...  ...         ...
4896  139455  ...    7.601525
4897  149326  ...    0.121120
4898  157373  ...    0.301732
4899   25749  ...    4.411511
4900   86637  ...    0.334965

[4901 rows x 4 columns]

In [ ]:

ratings_min_title['popularity'] =ratings_min_title['popularity'].astype("float")
ratings_min_title['popularity'].describe()

count    4590.000000
mean        5.057775
std         6.249674
min         0.000000
25%         0.768704
50%         2.764392
75%         8.132919
max       140.950236
Name: popularity, dtype: float64

In [ ]:
bad_pop=ratings_min_title.sort_values(by=['popularity'],ascending=False)
bad_pop

          id  rating            original_title  popularity
2182     680     0.5              Pulp Fiction  140.950236
956      155     0.5           The Dark Knight  123.167259
950       78     0.5              Blade Runner   96.272374
1797     550     0.5                Fight Club   63.869599
3518     278     0.5  The Shawshank Redemption   51.645403
...      ...     ...                       ...         ...
3066   87909     0.5                     Kidco    0.000001
3425   27548     0.5                Slime City    0.000001
4830  100185     0.5               Return Home    0.000001
3198   96411     0.5                Dögkeselyű    0.000001
1091   38061     0.5     Anybody's Son Will Do    0.000000

[4901 rows x 4 columns]

In [ ]:
popmax=bad_pop['popularity'].max()
popmax

140.95023600000002

In [ ]:
bad_pop.to_excel("bad_pop_title.xlsx")

In [ ]:
movies_metadata_title['popularity'] =movies_metadata_title['popularity'].astype("float")
movies_metadata_title['popularity'].describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

count    45460.000000
mean         2.921478
std          6.005414
min          0.000000
25%          0.385948
50%          1.127685
75%          3.678902
max        547.488298
Name: popularity, dtype: float64

In [ ]:
movies_metadata_bad_pop=movies_metadata_bad_pop[['id','original_title','popularity']].sort_values(by=('popularity'),ascending=True)
movies_metadata_bad_pop

           id                         original_title  popularity
292       680                           Pulp Fiction  140.950236
26567  271110             Captain America: Civil War  145.882135
44274  281338         War for the Planet of the Apes  146.161786
24873  131631  The Hunger Games: Mockingjay - Part 1  147.098006
23675  210577                              Gone Girl  154.801009
24351  245891                              John Wick  183.870374
14551   19995                                 Avatar  185.070892
26566  283995         Guardians of the Galaxy Vol. 2  185.330992
26564  293660                               Deadpool  187.860492
24455  177572                             Big Hero 6  213.849907
43644  339403                            Baby Driver  228.032744
42222  321612                   Beauty and the Beast  287.253654
33356  297762                           Wonder Woman  294.337037
30700  211672                                Minions  547.488298

In [ ]:
ratings=ratings.rename(columns={'movieId':'id'})

In [ ]:
ratings=ratings[ratings['id'].apply(lambda x: x.isdigit())]
ratings['id']=ratings['id'].apply(int)
ratings.columns

AttributeError: ignored

In [ ]:
ratings.head()

   userId    id  rating   timestamp
0       1   110     1.0  1425941529
1       1   147     4.5  1425942435
2       1   858     5.0  1425941523
3       1  1221     5.0  1425941546
4       1  1246     5.0  1425941556

In [ ]:
ratings.dtypes

userId         int64
id             int64
rating       float64
timestamp      int64
dtype: object

In [ ]:
movies_metadata_bad_pop=movies_metadata_bad_pop[movies_metadata_bad_pop['id'].apply(lambda x: x.isdigit())]
movies_metadata_bad_pop['id']=movies_metadata_bad_pop['id'].apply(int)
movies_metadata_bad_pop.columns

Index(['id', 'original_title', 'popularity'], dtype='object')

In [ ]:
movies_metadata_bad_pop.shape

(14, 3)

In [ ]:
ratings.drop_duplicates(subset=['id'],inplace=True)
bad_pop1=ratings.merge(movies_metadata_bad_pop, on=['id'],how='right')
bad_pop1

    userId      id  ...                         original_title  popularity
0    229.0     680  ...                           Pulp Fiction  140.950236
1      NaN  271110  ...             Captain America: Civil War  145.882135
2      NaN  281338  ...         War for the Planet of the Apes  146.161786
3      NaN  131631  ...  The Hunger Games: Mockingjay - Part 1  147.098006
4      NaN  210577  ...                              Gone Girl  154.801009
5      NaN  245891  ...                              John Wick  183.870374
6      NaN   19995  ...                                 Avatar  185.070892
7      NaN  283995  ...         Guardians of the Galaxy Vol. 2  185.330992
8      NaN  293660  ...                               Deadpool  187.860492
9      NaN  177572  ...                             Big Hero 6  213.849907
10     NaN  339403  ...                            Baby Driver  228.032744
11     NaN  321612  ...                   Beauty and the Beast  287.253654
12     NaN  297762  ...                           Wonder Woman  294.337037
13     NaN  211672  ...                                Minions  547.488298

[14 rows x 6 columns]

# Пыталась посмотреть рейтинг фильмов, имеющих бОльшую популярность, но они в этих файлах не рейтинговались. Может я где и ошиблась.

In [ ]:
ratings['rating']