In [6]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

%matplotlib inline

# 1) Какой самый дорогой и самый дешевый фильмы (в плане бюджета)?

In [12]:
movies_metadata=pd.read_csv('/content/movies_metadata.csv')

In [152]:
movies_metadata=movies_metadata[movies_metadata['budget'].apply(lambda x: x.isdigit())]
movies_metadata['budget']=movies_metadata['budget'].apply(int)
movies_metadata.columns

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [14]:
movies_metadata.shape

(30943, 24)

In [154]:
movies_metadata['popularity'] = movies_metadata['popularity'].astype("float")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [155]:
movies_metadata.dtypes  #свершилось чудо, но при этом прочтении получила бюдэет int< теперь чудом пытаюсь управлять

adult                     object
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [156]:
a=movies_metadata['popularity'].describe()
a

count    45460.000000
mean         2.921478
std          6.005414
min          0.000000
25%          0.385948
50%          1.127685
75%          3.678902
max        547.488298
Name: popularity, dtype: float64

In [157]:
a.to_excel("float_!!!.xlsx")

In [147]:
movies_metadata['budget'].describe()

count    4.546300e+04
mean     4.224579e+06
std      1.742413e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.800000e+08
Name: budget, dtype: float64

Получаем, что у половины фильмов бюджет меньше нуля

In [158]:
a=movies_metadata['budget'].max() #нашла максимальный бюджет
a

380000000

In [170]:

movies_metadata_max=movies_metadata[movies_metadata['budget']==a]
movies_metadata_max=movies_metadata_max[['budget','original_title']]
movies_metadata_max                                                   #фильм с максимальным бюджетом

          budget                               original_title
17124  380000000  Pirates of the Caribbean: On Stranger Tides

In [160]:
movies_metadata_max.to_excel("movies_metadata_max.xlsx")

In [1]:
movies_metadata.

NameError: ignored

# отберу фильмы не с нулевым бюджетом

In [169]:
movies_metadata_1=movies_metadata.loc[movies_metadata['budget']!=0]
a=min(movies_metadata_1['budget'])
movies_metadata_1=movies_metadata_1[movies_metadata_1['budget']==a]
movies_metadata_min=movies_metadata_1[['budget','original_title']]
movies_metadata_min

          budget                               original_title
17124  380000000  Pirates of the Caribbean: On Stranger Tides

In [ ]:
movies_metadata_min.to_excel("movies_metadata_min.xlsx")

In [ ]:
a=min(movies_metadata_1['budget'])
movies_metadata_1=movies_metadata_1[movies_metadata_1['budget']==a]
movies_metadata_min=movies_metadata_1[['budget','original_title']]
movies_metadata_min

# 2) Найдите топ 100 самых лучших и самых худших фильмов (согласно среднему рейтингу, который прийдется посчитать)

In [ ]:
ratings=pd.read_csv('/content/ratings.csv')
ratings.nunique()

userId         270896
movieId         45115
rating             10
timestamp    20549435
dtype: int64

In [ ]:
ratings=ratings.rename(columns={'movieId':'id'})
ratings.dtypes

userId         int64
id             int64
rating       float64
timestamp      int64
dtype: object

In [ ]:
movies_metadata=movies_metadata[movies_metadata['id'].apply(lambda x: x.isdigit())]
movies_metadata['id']=movies_metadata['id'].apply(int)
movies_metadata.columns

AttributeError: ignored

In [ ]:
all=ratings.merge(movies_metadata,on=["id"])
all

          userId      id  rating  ...  video vote_average vote_count
0              1     110     1.0  ...  False          7.8      246.0
1             11     110     3.5  ...  False          7.8      246.0
2             22     110     5.0  ...  False          7.8      246.0
3             24     110     5.0  ...  False          7.8      246.0
4             29     110     3.0  ...  False          7.8      246.0
...          ...     ...     ...  ...    ...          ...        ...
11437632  270123  140222     3.0  ...  False          5.8      135.0
11437633  270123  151509     3.0  ...  False          6.5        4.0
11437634  270123  159109     1.5  ...  False          6.0       14.0
11437635  270694  165159     4.0  ...  False          5.5        2.0
11437636  270887  136928     3.0  ...  False          4.0        1.0

[11437637 rows x 27 columns]

In [ ]:
all.nunique()

userId                    265917
id                          7565
rating                        10
timestamp                9274995
adult                          2
belongs_to_collection        603
budget                       448
genres                      1387
homepage                    1292
imdb_id                     7563
original_language             56
original_title              7462
overview                    7396
popularity                  7492
poster_path                 7543
production_companies        4642
production_countries         696
release_date                5585
revenue                     1864
runtime                      236
spoken_languages             665
status                         4
tagline                     3882
title                       7409
video                          2
vote_average                  84
vote_count                  1131
dtype: int64

In [ ]:
ratings_group=all.groupby('id').agg({'rating':['mean']})

ratings_group

          rating
            mean
id
2       3.236953
3       3.175550
5       3.079565
6       3.841764
11      3.660591
...          ...
176077  3.500000
176085  3.000000
176143  3.500000
176167  3.000000
176273  1.000000

[7565 rows x 1 columns]

In [ ]:
ratings_bad100=ratings_group.sort_values(by=('rating',  'mean'),ascending=True)
ratings_bad100=ratings_bad100.head(100)

ratings_bad100 = ratings_bad100[0:].reset_index()
ratings_bad100

        id rating
             mean
0   124111   0.50
1   169644   0.50
2   169642   0.50
3   169314   0.50
4   167190   0.50
..     ...    ...
95  110253   1.25
96   88059   1.25
97   86970   1.25
98   27777   1.25
99  106887   1.25

[100 rows x 2 columns]

In [ ]:
ratings_good100=ratings_group.sort_values(by=('rating',  'mean'),ascending=False)
ratings_good100=ratings_good100.head(100)

ratings_good100 = ratings_good100[0:].reset_index()
ratings_good100

        id    rating
                mean
0    95977  5.000000
1   167666  5.000000
2   130544  5.000000
3   129530  5.000000
4   164278  5.000000
..     ...       ...
95  165567  4.166667
96  164013  4.166667
97   82283  4.166667
98    1284  4.163652
99    1260  4.163554

[100 rows x 2 columns]

In [ ]:
movies_metadata_title=movies_metadata[['id','original_title','popularity']]  
movies_metadata_title.dtypes

id                 int64
original_title    object
popularity        object
dtype: object

In [ ]:
movies_metadata_title=movies_metadata_title[movies_metadata_title['id'].apply(lambda x: x.isdigit())]
movies_metadata_title['id']=movies_metadata_title['id'].astype(int)
movies_metadata_title.dtypes

AttributeError: ignored

In [ ]:
ratings_good100_title=ratings_good100.merge(movies_metadata_title,on=["id"])
ratings_good100_title

/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)

        id  (id, )  ...                          original_title popularity
0    95977   95977  ...                  The Man Behind The Gun   0.102997
1   167666  167666  ...  Monster High: Escape from Skull Shores   2.341218
2   130544  130544  ...                  Palermo oder Wolfsburg   0.060535
3   129530  129530  ...                                  Brutal    0.57077
4   164278  164278  ...                                  Harvey   0.143493
..     ...     ...  ...                                     ...        ...
95  165567  165567  ...                                  Static    6.94103
96  164013  164013  ...                     Джентльмены, удачи!   0.748609
97   82283   82283  ...                                      It   0.594437
98    1284    1284  ...          Torrente 2: Misión en Marbella    5.85443
99    1260    1260  ...                    Leiutajateküla Lotte   0.270086

[100 rows x 5 columns]

In [142]:
ratings_good100_title[(rating, mean)].describe()

NameError: ignored

In [ ]:
ratings_good100_title.to_excel("ratings_good100_title.xlsx")

In [ ]:
ratings_bad100_title=ratings_bad100.merge(movies_metadata_title,on=["id"])
ratings_bad100_title

/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)

        id  (id, )  (rating, mean)            original_title popularity
0   124111  124111            0.50   Jett Jackson: The Movie   1.244915
1   169644  169644            0.50                   Stalled    1.95714
2   169642  169642            0.50             Zero Charisma    2.02344
3   169314  169314            0.50  Where The Dead Go to Die   0.559969
4   167190  167190            0.50         Western Spaghetti    1.39406
..     ...     ...             ...                       ...        ...
95  110253  110253            1.25                 La Bohème   0.349298
96   88059   88059            1.25                 Veljekset   0.007073
97   86970   86970            1.25                1st to Die   0.231932
98   27777   27777            1.25                The Racket   0.699893
99  106887  106887            1.25          La muralla verde   0.106034

[100 rows x 5 columns]

In [ ]:
ratings_bad100_title.to_excel("ratings_bad100_title.xlsx")

# 3) Интересно найти фильмы, который просто ужасны (очень низкий рейтинг), но тем не менее популярны (там есть колонка popularity). Скажем так, фильм очень плохой, но он популярнее чем очень хорошие. Я строго не формализую этот пункт, придумайте сами как это сделать, есть разные варианты. Я знаю пример такого фильма, мне интересно, удастся ли его найти в этом датасете)

In [ ]:
ratings['rating'].min()

0.5

In [ ]:
ratings.columns

Index(['userId', 'id', 'rating', 'timestamp'], dtype='object')

In [ ]:
ratings_min=ratings.loc[ratings['rating']==0.5]
ratings_min=ratings_min[['id','rating']]
ratings_min['id'].astype(int)
ratings_min.dtypes

id          int64
rating    float64
dtype: object

In [ ]:
movies_metadata_title.dtypes

id                 int64
original_title    object
popularity        object
dtype: object

In [ ]:

movies_metadata_title=movies_metadata_title[movies_metadata_title['id'].apply(lambda x: x.isdigit())]
movies_metadata_title['id']=movies_metadata_title['id'].apply(int)
movies_metadata_title.columns

AttributeError: ignored

In [ ]:

movies_metadata_title['popularity']=movies_metadata_title['popularity'].astype(float)
movies_metadata_title.columns

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Index(['id', 'original_title', 'popularity'], dtype='object')

In [ ]:
movies_metadata_title.dtypes

id                  int64
original_title     object
popularity        float64
dtype: object

In [ ]:
ratings_min.drop_duplicates(subset=['id'],inplace=True)
ratings_min_title=ratings_min.merge(movies_metadata_title,on=["id"])
ratings_min_title   #получила таблицу плохих с названиями

          id  ...  popularity
0       1676  ...    4.010324
1        135  ...    2.676174
2        838  ...    9.188584
3       1831  ...    2.971999
4      37731  ...    0.364376
...      ...  ...         ...
4896  139455  ...    7.601525
4897  149326  ...    0.121120
4898  157373  ...    0.301732
4899   25749  ...    4.411511
4900   86637  ...    0.334965

[4901 rows x 4 columns]

In [ ]:

ratings_min_title['popularity'] =ratings_min_title['popularity'].astype("float")
ratings_min_title['popularity'].describe()

count    4590.000000
mean        5.057775
std         6.249674
min         0.000000
25%         0.768704
50%         2.764392
75%         8.132919
max       140.950236
Name: popularity, dtype: float64

In [ ]:
bad_pop=ratings_min_title.sort_values(by=['popularity'],ascending=False)
bad_pop

          id  rating            original_title  popularity
2182     680     0.5              Pulp Fiction  140.950236
956      155     0.5           The Dark Knight  123.167259
950       78     0.5              Blade Runner   96.272374
1797     550     0.5                Fight Club   63.869599
3518     278     0.5  The Shawshank Redemption   51.645403
...      ...     ...                       ...         ...
3066   87909     0.5                     Kidco    0.000001
3425   27548     0.5                Slime City    0.000001
4830  100185     0.5               Return Home    0.000001
3198   96411     0.5                Dögkeselyű    0.000001
1091   38061     0.5     Anybody's Son Will Do    0.000000

[4901 rows x 4 columns]

In [ ]:
popmax=bad_pop['popularity'].max()
popmax

140.95023600000002

In [ ]:
bad_pop.to_excel("bad_pop_title.xlsx")

In [ ]:
movies_metadata_title['popularity'] =movies_metadata_title['popularity'].astype("float")
movies_metadata_title['popularity'].describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

count    45460.000000
mean         2.921478
std          6.005414
min          0.000000
25%          0.385948
50%          1.127685
75%          3.678902
max        547.488298
Name: popularity, dtype: float64

In [ ]:
movies_metadata_bad_pop=movies_metadata_bad_pop[['id','original_title','popularity']].sort_values(by=('popularity'),ascending=True)
movies_metadata_bad_pop

           id                         original_title  popularity
292       680                           Pulp Fiction  140.950236
26567  271110             Captain America: Civil War  145.882135
44274  281338         War for the Planet of the Apes  146.161786
24873  131631  The Hunger Games: Mockingjay - Part 1  147.098006
23675  210577                              Gone Girl  154.801009
24351  245891                              John Wick  183.870374
14551   19995                                 Avatar  185.070892
26566  283995         Guardians of the Galaxy Vol. 2  185.330992
26564  293660                               Deadpool  187.860492
24455  177572                             Big Hero 6  213.849907
43644  339403                            Baby Driver  228.032744
42222  321612                   Beauty and the Beast  287.253654
33356  297762                           Wonder Woman  294.337037
30700  211672                                Minions  547.488298

In [ ]:
ratings=ratings.rename(columns={'movieId':'id'})

In [ ]:
ratings=ratings[ratings['id'].apply(lambda x: x.isdigit())]
ratings['id']=ratings['id'].apply(int)
ratings.columns

AttributeError: ignored

In [ ]:
ratings.head()

   userId    id  rating   timestamp
0       1   110     1.0  1425941529
1       1   147     4.5  1425942435
2       1   858     5.0  1425941523
3       1  1221     5.0  1425941546
4       1  1246     5.0  1425941556

In [ ]:
ratings.dtypes

userId         int64
id             int64
rating       float64
timestamp      int64
dtype: object

In [ ]:
movies_metadata_bad_pop=movies_metadata_bad_pop[movies_metadata_bad_pop['id'].apply(lambda x: x.isdigit())]
movies_metadata_bad_pop['id']=movies_metadata_bad_pop['id'].apply(int)
movies_metadata_bad_pop.columns

Index(['id', 'original_title', 'popularity'], dtype='object')

In [ ]:
movies_metadata_bad_pop.shape

(14, 3)

In [ ]:
ratings.drop_duplicates(subset=['id'],inplace=True)
bad_pop1=ratings.merge(movies_metadata_bad_pop, on=['id'],how='right')
bad_pop1

    userId      id  ...                         original_title  popularity
0    229.0     680  ...                           Pulp Fiction  140.950236
1      NaN  271110  ...             Captain America: Civil War  145.882135
2      NaN  281338  ...         War for the Planet of the Apes  146.161786
3      NaN  131631  ...  The Hunger Games: Mockingjay - Part 1  147.098006
4      NaN  210577  ...                              Gone Girl  154.801009
5      NaN  245891  ...                              John Wick  183.870374
6      NaN   19995  ...                                 Avatar  185.070892
7      NaN  283995  ...         Guardians of the Galaxy Vol. 2  185.330992
8      NaN  293660  ...                               Deadpool  187.860492
9      NaN  177572  ...                             Big Hero 6  213.849907
10     NaN  339403  ...                            Baby Driver  228.032744
11     NaN  321612  ...                   Beauty and the Beast  287.253654
12     NaN  297762  ...                           Wonder Woman  294.337037
13     NaN  211672  ...                                Minions  547.488298

[14 rows x 6 columns]

# Пыталась посмотреть рейтинг фильмов, имеющих бОльшую популярность, но они в этих файлах не рейтинговались. Может я где и ошиблась.

In [ ]:
ratings['rating']