https://www.kaggle.com/karthikbhandary2/boat-sales -- вот датасет с яхтами.

1) Постройте модель зависимости цены яхты от ее параметров. 

2) Насколько модель точна? (в качестве метрики можно выбрать mean absolute error)

3) Какие факторы в какой степени влияют на цену?

P.S. Если вам покажется, что яхты это скучно, вы можете взять любой другой датасет с kaggle)

In [54]:
import pandas as pd
import warnings
import seaborn as sns
sns.set()
from matplotlib import pyplot as plt
%matplotlib inline

warnings.filterwarnings('ignore')
train = pd.read_csv('boat_data.csv')

In [55]:
train.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [56]:
df = train.copy()

In [57]:
def eurprice(row):
    price = row.split(' ')[1]
    curr = row.split(' ')[0]
    if curr=='EUR':
        return price
    elif curr=='CHF':
        return int(price) * 0.96
    elif curr=='DKK':
        return int(price) * 0.13
    elif curr=='Â£':
        return int(price) * 1.18

def get_country(row):
    try:
        return (row.split('Â')[0]).strip()
    except:
        return row

def get_city(row):
    try:
        a = (row.split('Â»')[-1]).strip()
        a = a.split(',')[0]
        return a
    except:
        return row

In [58]:
# Create currency column
df['curr'] = df['Price'].apply(lambda x: x.split(' ')[0])
df['EUR_price'] = df['Price'].apply(eurprice).astype('int64')

In [59]:
df['Country'] = df['Location'].apply(get_country)
df['City'] = df['Location'].apply(get_city)

In [60]:
real_city = []
for country,city in zip(df['Country'],df['City']):
    if country == city:
        real_city.append(None)
    else:
        real_city.append(city)

In [61]:
df['City'] = real_city

In [62]:
df.sample(10)

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,curr,EUR_price,Country,City
3397,Â£ 2895000,Motor Yacht,Sunseeker power boats,"Used boat,Diesel",2013,28.16,6.52,GRP,France Â» South of France,87,Â£,3416100,France,South of France
6884,EUR 79900,Motor Yacht,NaN,"Used boat,Diesel",1990,13.00,4.00,GRP,Croatia (Hrvatska) Â» islands,38,EUR,79900,Croatia (Hrvatska),islands
1290,EUR 65000,Wakeboard/Wakesurf,MasterCraft power boats,"Used boat,Unleaded",2011,7.32,NaN,Plastic,Netherlands Â» bunschoten,395,EUR,65000,Netherlands,bunschoten
1279,CHF 69000,Sport Boat,Crownline power boats,"Used boat,Unleaded",2006,8.74,2.59,GRP,Switzerland Â» 4WaldStSee,372,CHF,66240,Switzerland,4WaldStSee
4940,CHF 270000,Motor Yacht,Frauscher power boats,"Used boat,Unleaded",2016,9.99,2.98,GRP,Switzerland Â» Lago Maggiore,340,CHF,259200,Switzerland,Lago Maggiore
7112,EUR 72000,Flybridge,Faeton power boats,Used boat,2006,9.83,3.36,NaN,Italy,43,EUR,72000,Italy,None
2556,EUR 265000,Motor Yacht,Elling power boats,"Used boat,Diesel",2007,13.80,4.25,GRP,Croatia (Hrvatska) Â» Pula / Marina Veruda,175,EUR,265000,Croatia (Hrvatska),Pula / Marina Veruda
8628,EUR 35000,Pilothouse,BÃ©nÃ©teau power boats,"Used boat,Diesel",2004,7.60,2.75,NaN,"France Â» LA FORET FOUESNANT, France",61,EUR,35000,France,LA FORET FOUESNANT
2564,EUR 269900,Motor Yacht,Sunseeker power boats,"Used boat,Diesel",2006,14.96,4.92,GRP,Croatia (Hrvatska) Â» Adria,76,EUR,269900,Croatia (Hrvatska),Adria
6081,EUR 125000,"Cabin Boat,Hardtop",Saga power boats,"Used boat,Diesel",2009,9.45,3.25,GRP,Germany Â» Konstanz,239,EUR,125000,Germany,Konstanz

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9888 non-null   object
 1   Boat Type                    9888 non-null   object
 2   Manufacturer                 8550 non-null   object
 3   Type                         9882 non-null   object
 4   Year Built                   9888 non-null   int64
 5   Length                       9879 non-null   float64
 6   Width                        9832 non-null   float64
 7   Material                     8139 non-null   object
 8   Location                     9852 non-null   object
 9   Number of views last 7 days  9888 non-null   int64
 10  curr                         9888 non-null   object
 11  EUR_price                    9888 non-null   int64
 12  Country                      9852 non-null   object
 13  City                         8916 non-null   object
dtypes: float64(2), int64(3), object(9)
memory usage: 1.1+ MB

In [64]:
X = df[['Year Built', 'Length', 'Width', 'Number of views last 7 days']] # взял все нетекстовые
y = df['EUR_price'] # потому что выше привёл все цены к EUR

In [65]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [66]:
X_train.shape

(7416, 4)

In [67]:
X_test.shape

(2472, 4)

In [68]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year Built                   9888 non-null   int64
 1   Length                       9879 non-null   float64
 2   Width                        9832 non-null   float64
 3   Number of views last 7 days  9888 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 309.1 KB

In [69]:
X_train['Length'] = X_train['Length'].fillna(X_train['Length'].mean())

In [70]:
X_train['Width'] = X_train['Width'].fillna(X_train['Width'].mean())

In [71]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7416 entries, 7079 to 8381
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year Built                   7416 non-null   int64
 1   Length                       7416 non-null   float64
 2   Width                        7416 non-null   float64
 3   Number of views last 7 days  7416 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 289.7 KB

In [72]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

#lg = LogisticRegression()
#lg.fit(X_train, y_train)

#rf = RandomForestClassifier()
#rf.fit(X_train, y_train)

#mlp = MLPClassifier(hidden_layer_sizes=())
#mlp.fit(X_train, y_train)

In [73]:
# Тарас, тут, почему-то всё время выпадает эта ошибка, интересно, на уровне чего именно возникает ограничение (освобождал разный объём памяти)

In [74]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7416 entries, 7079 to 8381
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year Built                   7416 non-null   int64
 1   Length                       7416 non-null   float64
 2   Width                        7416 non-null   float64
 3   Number of views last 7 days  7416 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 289.7 KB

In [75]:
pd.to_numeric(X_train['Length'], downcast='float')

7079     9.50
2150    12.60
8017     8.15
2946    18.90
7522    10.00
        ...
2617    11.99
360      5.01
1769     7.30
5208    18.90
8381     6.10
Name: Length, Length: 7416, dtype: float32

In [76]:
pd.to_numeric(X_train['Width'], downcast='float')

7079    3.00
2150    4.18
8017    2.59
2946    5.00
7522    3.30
        ...
2617    3.66
360     2.28
1769    2.50
5208    5.30
8381    2.34
Name: Width, Length: 7416, dtype: float32

In [79]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7416 entries, 7079 to 8381
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year Built                   7416 non-null   int64
 1   Length                       7416 non-null   float64
 2   Width                        7416 non-null   float64
 3   Number of views last 7 days  7416 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 289.7 KB

In [80]:
pd.to_numeric(X_train['Year Built'], downcast='integer')

7079    2006
2150    2007
8017    2010
2946    2006
7522    1991
        ...
2617    2018
360     2016
1769    2020
5208    1994
8381    2020
Name: Year Built, Length: 7416, dtype: int16

In [81]:
pd.to_numeric(X_train['Year Built'], downcast='integer')

7079    2006
2150    2007
8017    2010
2946    2006
7522    1991
        ...
2617    2018
360     2016
1769    2020
5208    1994
8381    2020
Name: Year Built, Length: 7416, dtype: int16

In [82]:
pd.to_numeric(X_train['Number of views last 7 days'], downcast='integer')

7079     60
2150     80
8017    157
2946    100
7522    113
       ...
2617     96
360     135
1769     51
5208    146
8381     79
Name: Number of views last 7 days, Length: 7416, dtype: int16

In [83]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7416 entries, 7079 to 8381
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year Built                   7416 non-null   int64
 1   Length                       7416 non-null   float64
 2   Width                        7416 non-null   float64
 3   Number of views last 7 days  7416 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 289.7 KB

In [84]:
X_train['Length'] = pd.to_numeric(X_train['Length'], downcast='float')

In [85]:
X_train['Width'] = pd.to_numeric(X_train['Width'], downcast='float')

In [86]:
X_train['Year Built'] = pd.to_numeric(X_train['Year Built'], downcast='integer')

In [87]:
X_train['Number of views last 7 days'] = pd.to_numeric(X_train['Number of views last 7 days'], downcast='integer')

In [88]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7416 entries, 7079 to 8381
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year Built                   7416 non-null   int16
 1   Length                       7416 non-null   float32
 2   Width                        7416 non-null   float32
 3   Number of views last 7 days  7416 non-null   int16
dtypes: float32(2), int16(2)
memory usage: 144.8 KB

In [89]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

lg = LogisticRegression()
lg.fit(X_train, y_train)

rf = RandomForestClassifier()
rf.fit(X_train, y_train)

mlp = MLPClassifier(hidden_layer_sizes=())
mlp.fit(X_train, y_train)

MemoryError: could not allocate 338427904 bytes

In [ ]:
#увы, даже downcast типов переменных не помог :-(